@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype'); /* Adjust the format if needed */
    font-weight: normal;
    font-style: normal;
  }

.underline-animation {
  position: relative;;
}

.underline-animation::after {
  content: '';
  position: absolute;
  margin-bottom: -8px;
  bottom: 8px;
  right: 0px;
  height: 4px; 
  background-color: #9f2089;
  display: none;
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  display: block;
  width: 100%;
  
}